<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"> <!-- Подключение CSS -->
</head>
<body>
<h1>Employee List</h1>

<!-- Кнопка для добавления нового сотрудника -->
<a href="/employees/new">
    <button type="button">Add New Employee</button>
</a>

<!-- Таблица со списком сотрудников -->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Hire Date</th>
        <th>Position</th>
        <th>Team</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Проходимся по списку сотрудников -->
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td> <!-- ID -->
        <td th:text="${employee.name}"></td> <!-- Имя -->
        <td th:text="${employee.lastname}"></td> <!-- Фамилия -->
        <td th:text="${employee.salary}"></td> <!-- Зарплата -->
        <td th:text="${employee.hireDate}"></td> <!-- Дата найма -->
        <td th:text="${employee.position}"></td> <!-- Позиция -->
        <td th:text="${employee.team.name}"></td> <!-- Название команды -->
        <td>
            <!-- Ссылка для редактирования сотрудника -->
            <a th:href="@{'/employees/edit/' + ${employee.id}}">Edit</a>
            <!-- Форма для удаления сотрудника -->
            <form th:action="@{'/employees/delete/' + ${employee.id}}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE"/> <!-- Указываем метод DELETE -->
                <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- Ссылка на главную -->
<a href="/">Back to Home</a>

</body>
</html>
